@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Shared  */
.display-flex {
    display: flex;
}


.gray-text {
    color: #424242;
}

.light-gray-text {
    color: #727272;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.btn {
    background-color: #FF900E;
    color: white;
    border: #FF900E;
    border-radius: 10px;
    padding: 20px 40px;
    font-size: 1.25rem;
    font-weight: 700;
}

.center-content {
    display: flex;
    justify-content: center;
}

/* header */

.brand {
    font-weight: 900;
    font-size: 2rem;
}

.hero {
    max-width: 1000px;
}

/* navbar  */
.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    gap: 30px;
    font-weight: 600;
}

.nav-text {
    text-decoration: none;
    color: black;
}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0px, auto;
}

/* banner  */

.banner-content {
    max-width: 850px;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-content h1 {
    font-weight: 800;
    font-size: 4rem;
}

.banner-image {
    width: 100%;
}

/* main  */
main {
    display: flex;
    justify-content: center;
}
.main2 {
        margin-top: 100px;
    display: flex;
    justify-content: center;
}

.features {
    display: flex;
    max-width: 1000px;
    margin-top: 100px;
}

.features-images {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    max-width: 500px;
    gap: 20px;
}

.features-images img {
    height: 200px;
    width: auto;
}

.features-content {
    margin-left: 50px;
    max-width: 500px;
}

.features-content h3 {
    font-size: 2.8rem;
    font-weight: 800;
}

.Features {
    color: #FF900E;
}

.cards{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.card{
    border: 2px solid #FF900E;
    padding-top: 30px;
    text-align: center;
    height: 200px;
    width: 200px;
}
/* responsive media query */

@media screen and (max-width:576px) {

    .navbar,
    .features {
        flex-direction: column;
    }

    .nav-links {
        flex-wrap: wrap;
    }

    .features-content {
        margin-left: auto;
    }

    .features-images {
        gap: 0px;
    }
    .cards{
        flex-direction: column;
        margin-left: 100px;
    }

}

@media screen and (min-width:576px) and (max-width:992px) {
.features{
    flex-direction: column;
}
}